body {
  display: block;
  position: relative;
}
body::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

* {
  color: rgb(91, 91, 88);
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

li {
  border: 5px double black;
  width: 310px;
  background-color: rgb(231, 213, 213);
  border-radius: 5%;
  opacity: 0.6;
}

#trip-img {
  opacity: none;
  z-index: 1;
}

button {
  background-color: white;
  font-weight: bold;
}

#add-trips {
  text-decoration: none;
  background-color: rgb(231, 213, 213);
  border: 5px double black;
  font-weight: bold;
}

#add-trips:hover {
  background-color: white;
}
