<h1>Add a new Blog Post!</h1>

<form method="POST" action="/add-comment">
  <label for="comment">What do you want to say:

    <input type="text" name="comment" id="comment" placeholder="Leave comment">
  </label>

  <button>Submit</button>
</form>