<html>

<head>
</head>

<body>
  <h1>Add a new Blog Post!</h1>

  <form method="POST" action="/add-blog">
    <label for="title">Title
      <input type="text" name="title" id="title" placeholder="Give your blog post a title">
    </label>

    <label for="body">Body
      <input type="text" name="body" id="body" placeholder="Enter body">
    </label>

    <button>Submit</button>
  </form>
</body>

</html>