<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Posts</title>
</head>

<body>
  {{>bootstrap}}
  {{>navigation}}
  <a id="add-blog" href="/add-blog">Write a new Blog!</a>

  {{#posts}}
  <h1>{{title}}</h1>
  <p>{{body}}</p>
  <spam>{{date_created}} {{date_updated}} {{is_published}}</spam>
  <form method="POST" action="/delete-blog">
    <input type="hidden" value={{post_id}} name="post_id" />
    <button>Delete</button>
  </form>
  {{/posts}}
  {{^posts}}
  <h3>Create a Blog Post now!</h3>
  {{/posts}}

</body>

</html>