<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Posts</title>
</head>

<body>
  {{>bootstrap}}
  {{>navigation}}
  {{username}}


  <a id="add-blog" href="/add-blog">Write a new Blog!</a>

  {{#posts}}
  <h1>{{title}}</h1>
  <p>{{body}}</p>
  <spam>{{date_created}} {{date_updated}} {{is_published}}</spam>
  <form method="POST" action="/delete-blog">
    <input type="hidden" value={{post_id}} name="post_id" />
    <button>Delete</button>
  </form>
  {{/posts}}
  {{^posts}}
  <h3>Create a Blog Post now!</h3>
  {{/posts}}

  {{#comments}}
  <p>{{comment}}</p>
  {{/comments}}
  {{^comments}}
  <a id="add-comment" href="/add-comment">Post a comment!</a>
  {{/comments}}
</body>

</html>

<!--<div class="list-group">
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div> -->