<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  {{>bootstrap}}

  <h1>Register</h1>

  <form class="form-inline" action="/users/registration" method="POST">

    <label class="sr-only" for="inlineFormInputGroupUsername2">Create Username</label>
    <input type="text" name="username" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2"
      placeholder="username" />

    <label class="sr-only" for="inlineFormInputName2">Create Password</label>
    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="password" type="password"
      name="password" />

    <button type="submit" class="btn btn-primary mb-2">Submit</button>
  </form>

  {{message}}
</body>

</html>