<!DOCTYPE html>
<html lang="en">

<head>


  <link rel="stylesheet" href="/css/style.css">
  <title>Chat Feature</title>
</head>

<body>
  <header>
    <div class="navbar">
      <a class="home-page" href="/movies">Home Page</a>
      <form method="POST" action="/logout">
        <input type="hidden" value={{username}} name="username" />
        <button>Logout</button>
      </form>
    </div>
  </header>
  <main>
    <section class="chat-container">
      <div class="bubbleWrapper">
        <div class="inlineContainer">
          <div class="otherBubble other">
            <div id="message-container"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="container">
      <div id="sendWrapper">
        <form id="send-container">
          <input type="text" id="message-input">
          <button type="submit" id="send-button">Send</button>
        </form>
      </div>
    </section>
  </main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io()
</script>
<script src="/js/client.js"></script>

</html>