<html>

<head></head>

<body>

  <h1>Registration Page</h1>

  <form method="POST" action="/registration">
    <label for="username">Username:
      <input type="text" name="username" id="username" placeholder="Enter username">
    </label>

    <label for="password">Password:
      <input type="password" name="password" id="password" placeholder="Enter password">
    </label>

    <button>Submit</button>
  </form>

</body>

</html>