<html>

<head>
  <link rel="stylesheet" href="/css/site.css">
</head>

<body>
  <h1>Create a new Trip!</h1>

  <form method="POST" action="/create-trip">
    <label for="trip">Destination


      <input type="text" name="trip" id="trip" placeholder="Enter destination name">
    </label>
    <label for="imageURL">Add Pictureee

      <input type="text" name="imageURL" id="imageURL" placeholder="Add a picture URL">
    </label>
    <label for="departDate">Departure

      <input type="text" name="departDate" id="departDate" placeholder="Departure date">
    </label>
    <label for="returnDate">Return

      <input type="text" name="returnDate" id="returnDate" placeholder="Return date">
    </label>
    <button>Submit</button>
  </form>
</body>

</html>