* {
  font-family: "Avenir";
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.home-page {
  text-decoration: none;
  color: white;
}
body {
  background-color: #111845;
}
.bubbleWrapper {
  margin-left: 22%;
  padding: 10px 10px;
  /* display: flex;
  flex-direction: row;
  align-self: flex-end; */
  color: #fff;
  /* justify-content: center;
  width: 80%; */
}
.inlineContainer {
  /* display: inline-flex; */
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width: 20px;
  object-fit: contain;
}

/* .otherBubble {
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #6c8ea4;
  border-radius: 16px 16px 16px;
  border: 1px solid #54788e;
} */
.own {
  align-self: flex-end;
}
.other {
  align-self: flex-start;
}
span.own,
span.other {
  font-size: 14px;
  color: grey;
}
.chat-container {
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
/* #message-container div:nth-child(2n) {
  background-color: #6c8ea4;
} */

#sendWrapper {
  /* position: fixed;
  bottom: 10px; */
  right: 232px;
  width: 509px;
  text-align: center;
  padding: 25px 161px;
  background: #6c8ea4;
  border-radius: 5px;
}

#message-input {
  width: 100%;
}
