<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="/create-blog">Create new post!</a>
  <ul>
    {{#blogs}}

    <li>
      <h2>{{title}}</h2>
      <p>{{body}}</p>
      <span>{{category}}</span>

      <a href="/update-blog/{{id}}"><button>Update Blog</button></a>
      <a href="/delete-blog/{{id}}"><button>Delete</button></a>

    </li>

    {{/blogs}}
  </ul>
</body>

</html>